extends layout

block content
    body
      include jade/signInUpLayer
      include jade/nav
      include jade/message
      include jade/content
      include jade/goHome
      include jade/backTop