//
   Created by j.frank on 2017/5/8 0008.
div(class="gohome")
    a(href='#{ctx}',target="_bank",class="animated bounceInUp gohome-icon",title="返回首页")
        i(class="glyphicon glyphicon-home fa fa-home")