//
   Created by j.frank on 2017/5/18 0018.
link(href="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css",rel="stylesheet")
script(src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js")