//
   Created by j.frank on 2017/3/30 0030.
#loginModal.modal.inmodal(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content.animated.bounceInRight
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only 关闭
                h4.modal-title 登录
            .modal-body
                form.form-horizontal(method='post', action='/signin', name="loginForm")
                    // 下面这个div必须要有，插件根据这个进行添加提示
                    .form-group
                        label.col-md-2.control-label.banner-sign-box-control
                            i.glyphicon.glyphicon-user
                            |                 用户
                        .col-md-9.banner-sign-box-control
                            .input-group
                                input.form-control(type='text', name='inUserName')
                                .input-group-addon *
                    .form-group
                        label.col-lg-2.control-label.banner-sign-box-control
                            i.glyphicon.glyphicon-lock
                            |                 密码
                        .col-md-9.banner-sign-box-control
                            .input-group
                                input.form-control(type='password', name='inUserPasd')
                                .input-group-addon *
                    .form-group
                        .col-md-12
                            button.btn.btn-pink.btn-block(type='submit') 登录
            .modal-footer
                button.btn.btn-white(type='button', data-dismiss='modal') 关闭

#registerModal.modal.inmodal(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content.animated.bounceInRight
            .modal-header
                button.close(type='button', data-dismiss='modal')
                    span(aria-hidden='true') ×
                    span.sr-only 关闭
                h4.modal-title 注册
            .modal-body
                form.form-horizontal(method='post', action='/signup', name="registerForm")
                    // 下面这个div必须要有，插件根据这个进行添加提示
                    .form-group
                        label.col-md-2.control-label.banner-sign-box-control
                            i.glyphicon.glyphicon-user
                            |                 用户
                        .col-md-9.banner-sign-box-control
                            .input-group
                                input.form-control(type='text', name='userName')
                                .input-group-addon *
                    .form-group
                        label.col-lg-2.control-label.banner-sign-box-control
                            i.glyphicon.glyphicon-lock
                            |                 密码
                        .col-md-9.banner-sign-box-control
                            .input-group
                                input.form-control(type='password', name='userPasd')
                                .input-group-addon *
                    .form-group
                        label.col-md-2.control-label.banner-sign-box-control
                            i.glyphicon.glyphicon-envelope
                            |                 邮箱
                        .col-md-9.banner-sign-box-control
                            input.form-control(type='text', name='email')
                    .form-group
                        .col-md-12
                            button.btn.btn-success.btn-block(type='submit') 注册
            .modal-footer
                button.btn.btn-white(type='button', data-dismiss='modal') 关闭

